<ion-header>
  <ion-toolbar style="padding-bottom: 10px;">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/" icon="chevron-back" style="margin-top: 1vh;">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light" style="margin-top: 5px; font-size:4vw">Ajouter une Commande</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" slot="icon-only" style="margin-top: 1vh;">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="info-list">
  </ion-list>

</ion-content>
