ion-content{
  --background: #f4f4f4;
  font-family: nexalight, sans-serif;
}

ion-toolbar{
  --padding-top: 5%;
  --opacity: 0;
}

.banner {
  position: relative;
  width: 100%;
  margin-top: -25%;
  height: 35%;
  background: linear-gradient(-45deg, rgba(0,96,187,0.6) -30%, rgba(21, 160, 141, 0.45) 70%), url("../../../assets/images/station.jpg");
  background-size: cover;
}

ion-grid{
  position: relative;
  margin: 0 auto;
}

ion-col{
  width: 46%;
  height: 15vh;
  padding-top: 5%;
}

.divider{
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #ededed;
}

.coln {
  text-align: center;
  //background-color: red;
}

.col_title {
  position : relative;
  text-align: center;
  margin-top : 10%;
  color :#03735d
}

ion-icon {
  font-size: 150%;
  color: #15a08d;
}

ion-item{
  color: white;
  --background: transparent;
  font-size: 100%;
}


.col_div {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #ededed;
}


.col_div-duo {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #ededed;
}

ion-card-title{
  color: #fff;
  position: relative;
  bottom: -60%;
  font-size: 170%;
  padding-left: 5%;
}

ion-card-subtitle {
  bottom: -55%;
}

.map_content {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 30%;
}

/*************ionic fab button with label*******/


ion-fab-button[data-desc] {
  position: relative;
  transition: 0.5s;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-primary);
  padding: 9px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

@keyframes example {
  from {opacity: 0.3;}
  to {opacity: 0.2;}
}

#ListBackdrop{
  background-color: #0a0a0a !important;
  position: fixed !important;
  height: 100vh;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.2;
  animation-name: example;
  animation-duration: 0.5s;
}

