<ion-header>
    <ion-toolbar style="padding-bottom: 10px;">
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/" icon="chevron-back" style="margin-top: 1vh;">
            </ion-back-button>
        </ion-buttons>
        <ion-title color="light" style="margin-top: 5px; font-size:4vw">Liste des Commandes</ion-title>
        <ion-buttons slot="end">
            <ion-button color="light" slot="icon-only" style="margin-top: 1vh;"  (click)="createCmde()">
                <ion-icon name="add-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="200" style="margin-top: 3%">
        <ion-refresher-content
                pullingIcon="arrow-down"
                pullingText="Tiré pour rafraîchir"
                refreshingSpinner="circles"
                refreshingText="Rafraîchissement">
        </ion-refresher-content>
    </ion-refresher>


    <ion-segment class="segment" scrollable="true" [(ngModel)]="segmentModel" (ionChange)="segmentChanged()">
        <ion-segment-button value="enregistrer" class="segment_btn">En Attente</ion-segment-button>
        <ion-segment-button value="commander" class="segment_btn">En Cours</ion-segment-button>
        <ion-segment-button value="livrer" class="segment_btn">Livré</ion-segment-button>
    </ion-segment>

    <ng-template #skeleton>
        <ion-list style="margin-top: 11%">
            <ion-item *ngFor="let i of [1,2, 3, 4, 5]">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-template>


    <div *ngIf=" dataList else skeleton">
        <ion-list style="margin-top: 10%">

            <ion-item-sliding *ngFor="let item of dataList">
                <ion-item-options side="start">
                    <ion-item-option (click)="deleteCmde(item)" color="danger">
                        Delete
                        <ion-icon name="trash" slot="start"></ion-icon>
                    </ion-item-option>
                </ion-item-options>

                <ion-item>
                    <ion-icon name="cart" color="tertiary" slot="start"></ion-icon>
                    <ion-label>
                        <h3>CMD - {{item.idCommande}} [ {{item.fournisseur.nom}}]</h3>
                        <p>Qté Com: {{item.volumeCommande}} L </p>
                        <p *ngIf=" segmentModel === 'livrer'">Qté Liv: {{item.volumeLivre}} L </p>
                        <ion-badge color="tertiary" *ngIf=" segmentModel != 'enregistrer'" >Coût.T: {{item.prixTotal - item.ristourne | number:'1.1-2'}}Fcfa
                        </ion-badge>
                    </ion-label>
                    <ion-note slot="end">{{item.dateLivraison | date:'dd/MM/yyyy'}}</ion-note>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option (click)="updateCmde(item)" color="tertiary">
                        Modifier
                        <ion-icon name="create" slot="end"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

        </ion-list>
    </div>


</ion-content>
