<ion-header>
  <ion-toolbar style="padding-bottom: 10px;">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/" icon="chevron-back" style="margin-top: 1vh;">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light" style="margin-top: 5px; font-size:4vw">Liste des Reservoirs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="200" style="margin-top: 3%">
    <ion-refresher-content
            pullingIcon="arrow-down"
            pullingText="Tiré pour rafraîchir"
            refreshingSpinner="circles"
            refreshingText="Rafraîchissement">
    </ion-refresher-content>
  </ion-refresher>

  <ion-segment class="segment" scrollable="true" [(ngModel)]="segmentModel" (ionChange)="segmentChanged()">
    <ion-segment-button value="enAttente" class="segment_btn">En Attente</ion-segment-button>
    <ion-segment-button value="enCours" class="segment_btn">En Cours</ion-segment-button>
    <ion-segment-button value="Terminé" class="segment_btn">Terminé</ion-segment-button>
  </ion-segment>

</ion-content>
