<ion-header>
</ion-header>

<ion-content [fullscreen]="true">

    <img alt="" class="logo-img" src="../../assets/images/logo.png"/>

    <ion-grid>
        <ion-row>
            <ion-item (click)="openPage('station/stationlist')" button="true" detail="false" lines="none" mode="md">
                <ion-col class="coln">
                    <ion-icon name="color-fill" style="color: #4ee64c"></ion-icon>
                    <div class="col_title"><strong>Stations</strong></div>
                </ion-col>
            </ion-item>

            <ion-item (click)="openPage('user/userlist')" button="true" detail="false" lines="none" mode="md"
                      routerDirection="root">
                <ion-col class="coln">
                    <ion-icon name="briefcase" style="color: #ff9832"></ion-icon>
                    <div class="col_title"><strong>Actionnaires</strong></div>
                </ion-col>
            </ion-item>
        </ion-row>

        <ion-row>
            <ion-item (click)="openPage('fournisseur/vendorlist')" button="true" detail="false" lines="none" mode="md">
                <ion-col class="coln">
                    <ion-icon name="cart" style="color: #0bbcf3"></ion-icon>
                    <div class="col_title"><strong>Fournisseurs</strong></div>
                </ion-col>
            </ion-item>

            <ion-item (click)="openPage('fueltype/fuellist')" button="true" detail="false" lines="none" mode="md">
                <ion-col class="coln">
                    <ion-icon name="water" style="color: #02ca95"></ion-icon>
                    <div class="col_title"><strong>Carburant</strong></div>
                </ion-col>
            </ion-item>
        </ion-row>

        <ion-row>
            <ion-item button="true" detail="false" lines="none" mode="md">
                <ion-col class="coln">
                    <ion-icon name="bar-chart" style="color: #2752fc"></ion-icon>
                    <div class="col_title"><strong>Statistique</strong></div>
                </ion-col>
            </ion-item>
            <ion-item button="true" detail="false" lines="none" mode="md">
                <ion-col class="coln">
                    <ion-icon name="settings" style="color: #441a95"></ion-icon>
                    <div class="col_title"><strong>Paramètres</strong></div>
                </ion-col>
            </ion-item>
        </ion-row>
    </ion-grid>


</ion-content>
