<ion-header>
  <ion-toolbar style="padding-bottom: 10px;">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/" icon="chevron-back" style="margin-top: 1vh;">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light" style="margin-top: 5px; font-size:4vw">Liste des Stations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar class="mySearchbar" (ionInput)="filterList($event)" mode="ios"></ion-searchbar>
</ion-toolbar>

<ion-content>

  <ion-list *ngIf="stationList">
    <ion-card mode="ios" *ngFor="let itemstion of stationFilterList; let i = index" (click)="showDetail(itemstion)">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-item class="stion_colr2" lines="none">
        <ion-card-header>
          <ion-card-title>{{itemstion.nom}}</ion-card-title>
        </ion-card-header>
        <ion-icon name="speedometer" slot="start"></ion-icon>
        <ion-button slot="end" color="light" fill="clear" (click)="doOperation($event, itemstion)">
          <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-card-content>
        <ion-icon name="location" slot="start"></ion-icon>
        {{itemstion.adresse}}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="margin: 3vh">
    <ion-fab-button color="primary" (click)="createStation()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
