ion-content {
  --background: #ffffff;
  font-family: nexalight, sans-serif;
}

ion-toolbar {
  --padding-top: -1%;
  --background: linear-gradient(-45deg, #0060bb -30%, #15a08d 70%);
}

.stion_colr1 {
  --background: #0775ac;
}


.stion_colr3 {
  --background: #0bbcf3;
}

.stion_colr2 {
  --background: #03161f;
}

ion-list {
  background: transparent;
  ion-card {
    --background: white;

    ion-card-content {
      font-size: 5vw;
      background: white;
    }
  }
}

ion-card-title {
  font-size: 4.5vw;
  color: white;
}

ion-item {
  --color: white;
}
