<ion-header class="ion-no-border" mode="md">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()" color="light">
                <ion-icon color="white" name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="info-list">
        <ion-item>
            <ion-icon color="primary" name="cube" slot="start"></ion-icon>
            <ion-label position="floating">Fournisseur</ion-label>
            <ion-select [interfaceOptions]="customAlertOptions" [(ngModel)]="vendor" [compareWith]="compareFn"
                        [selectedText]="(vendor!==null)? vendor.nom : '' ">
                <ion-select-option *ngFor=" let vndr of listFournisseur"
                                   [value]="vndr">{{vndr.nom}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-button (click)="submitRequest()" class="btn_connexion" expand="block" mode="md">Enregistrer</ion-button>

</ion-content>
